.icon-add-arrow { background-image: url('png/add-arrow.png'); background-repeat: no-repeat; }

.icon-add { background-image: url('png/add.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-checkbox { background-image: url('png/checkbox.png'); background-repeat: no-repeat; }

.icon-circle-check { background-image: url('png/circle-check.png'); background-repeat: no-repeat; }

.icon-circle-spin { background-image: url('png/circle-spin.png'); background-repeat: no-repeat; }

.icon-close-icon { background-image: url('png/close-icon.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-crosshairs { background-image: url('png/crosshairs.png'); background-repeat: no-repeat; }

.icon-dollar-sign { background-image: url('png/dollar-sign.png'); background-repeat: no-repeat; }

.icon-expand { background-image: url('png/expand.png'); background-repeat: no-repeat; }

.icon-facebook-square { background-image: url('png/facebook-square.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-footer-logo { background-image: url('png/footer-logo.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

.icon-instagram-square { background-image: url('png/instagram-square.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-kub-text { background-image: url('png/kub-text.png'); background-repeat: no-repeat; }

.icon-kub { background-image: url('png/kub.png'); background-repeat: no-repeat; }

.icon-leave-notice { background-image: url('png/leave-notice.png'); background-repeat: no-repeat; }

.icon-lightning { background-image: url('png/lightning.png'); background-repeat: no-repeat; }

.icon-manage-property { background-image: url('png/manage-property.png'); background-repeat: no-repeat; }

.icon-manage { background-image: url('png/manage.png'); background-repeat: no-repeat; }

.icon-minus-no-circle { background-image: url('png/minus-no-circle.png'); background-repeat: no-repeat; }

.icon-minus { background-image: url('png/minus.png'); background-repeat: no-repeat; }

.icon-money { background-image: url('png/money.png'); background-repeat: no-repeat; }

.icon-moving { background-image: url('png/moving.png'); background-repeat: no-repeat; }

.icon-my-location { background-image: url('png/my-location.png'); background-repeat: no-repeat; }

.icon-outage-home { background-image: url('png/outage-home.png'); background-repeat: no-repeat; }

.icon-outage-reported { background-image: url('png/outage-reported.png'); background-repeat: no-repeat; }

.icon-outage { background-image: url('png/outage.png'); background-repeat: no-repeat; }

.icon-paperless { background-image: url('png/paperless.png'); background-repeat: no-repeat; }

.icon-pay { background-image: url('png/pay.png'); background-repeat: no-repeat; }

.icon-plus-no-circle { background-image: url('png/plus-no-circle.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-premise-no-outage { background-image: url('png/premise-no-outage.png'); background-repeat: no-repeat; }

.icon-premise-outage { background-image: url('png/premise-outage.png'); background-repeat: no-repeat; }

.icon-premise { background-image: url('png/premise.png'); background-repeat: no-repeat; }

.icon-refresh { background-image: url('png/refresh.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('png/remove.png'); background-repeat: no-repeat; }

.icon-routing-transit { background-image: url('png/routing-transit.png'); background-repeat: no-repeat; }

.icon-routing-transit2 { background-image: url('png/routing-transit2.png'); background-repeat: no-repeat; }

.icon-safety { background-image: url('png/safety.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-stop-service { background-image: url('png/stop-service.png'); background-repeat: no-repeat; }

.icon-take-over { background-image: url('png/take-over.png'); background-repeat: no-repeat; }

.icon-text-arrow-left { background-image: url('png/text-arrow-left.png'); background-repeat: no-repeat; }

.icon-text-arrow-right { background-image: url('png/text-arrow-right.png'); background-repeat: no-repeat; }

.icon-twitter-square { background-image: url('png/twitter-square.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-unexpand { background-image: url('png/unexpand.png'); background-repeat: no-repeat; }

.icon-users { background-image: url('png/users.png'); background-repeat: no-repeat; }

.icon-warning { background-image: url('png/warning.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

